.table{
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
    &__title{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 30px;
        &-search{
            display: flex;
            gap: 5px;
            align-items: center;
            &-input{
                width: 350px;
            }
            &-select{
                width: 200px;
            }
        }
        &-buttons{
            display: flex;
            gap: 10px;
        }
        &-button{
            text-wrap: nowrap;
            max-width: min-content;
            -webkit-box-shadow: 6px 3px 30px 0px var(--content-bg);
            -moz-box-shadow: 6px 3px 30px 0px var(--content-bg);
            box-shadow: 6px 3px 30px 0px var(--content-bg);
        }
    }
    &__row{
        text-align: center;
        height: 30px;
        &-color{
            background-color: var(--table-row-color);
        }
        &-button-delete{
            fill: var(--color-text);
        }
    }
    &__row-head{
        display: flex;
        text-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
    &__row-head-button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: transform .3s;
        &:active{
            transform: scale(.9);
        }
    }
    &__row-button{
        display: flex;
        align-items: end;
        background-color: transparent;
        border: none;
        text-wrap: nowrap;
        cursor: pointer;
        transition: all .3s;
        &:hover{
            color: var(--color-text-second);
        }
        &:active{
            transform: scale(.9);
        }
    }
    &__row-elem-head{
        border-bottom: 1px solid var(--color-text);
    }
    &__row-delete{
        max-width: 60px;
        width: 60px;
        min-width: 60px;
    }
    &__row-elem{
        padding: 0 15px;
        & span{
            text-overflow: ellipsis;
            box-sizing: border-box;
            max-width: 200px;
            display: block;
        }
    }
    &__row-elem-buttons{
        margin: 0 auto;
    }
    &__new{
        width: 100%;
        height: 100px;
        margin-top: 20px; 
        border-radius: 30px;
        border: 3px solid var(--content-bg);
        border-style: dashed;
        display: flex;
        align-items: center;
        justify-content: center;
        &-button{
            background-color: transparent;
            border: none;
            cursor: pointer;
            transition: all .3s;
            &:active{
                transform: scale(.9);
            }
        }
        &-icon{
            fill: var(--color-text);
        }
        &-head-icon{

            width: 20px;
            height: 20px;
            fill: var(--color-text);
        }
    }
}
.table__wrapper{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}
.table__overflow{
    border: 1px solid var(--shadow-color);
    -webkit-box-shadow: 6px 3px 30px 0px var(--shadow-color);
    -moz-box-shadow: 6px 3px 30px 0px var(--shadow-color);
    box-shadow: 6px 3px 30px 0px var(--shadow-color);
    border-radius: 20px;
    margin: 0 auto;
    width: calc(100% - 10px);
    overflow: hidden;
    scrollbar-width: thin;

}
.table__overflow-hidden{
    margin:0 auto;
    padding: 10px 0 30px 0;
    max-width: 100%;
    width: 100%;
    scrollbar-width: thin;
    overflow-y: hidden;
    overflow-x: auto;
}
.table__content-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}
@media screen and (max-width:1350px) {
    .table__content-wrapper{
        flex-direction: column;
        gap: 20px;
    }
    .table__title-buttons{
        flex-wrap: wrap;
    }
    .table__title-button{
        width: 100%;
    }
}