
.text-font{
    font-family: sans-serif;
}
h1, h2, h3, h4, h5{
    color: var(--color-text);
    font-family:  sans-serif;
    margin: 0;
}
.pr-40{
    padding-right: 40px;
}

.text-sm,.text-vsm,.text-font,.text-lg{
    color: var(--color-text);
}
.text-h3{
    font-size: 18px;
}
.text-lg{
    font-size: 16px;
}
.text-sm{
    font-size: 14px;
}

.text-vsm{
    font-size: 12px;
}

h1{
    font-size: 26px;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 18px;
}

.icon{
    min-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
}
@media screen and (max-width:750px) {
    .icon{
        min-height: 20px;
        min-width: 20px;
        height: 20px;
        width: 20px;
    }
    h2{
        font-size: 20px;
    }

}