
.text-font{
    font-family: sans-serif;
}
h1, h2, h3, h4, h5{
    color: var(--color-text);
    font-family:  sans-serif;
    margin: 0;
}
.pr-40{
    padding-right: 40px;
}

.text-sm,.text-vsm,.text-font,.text-lg{
    color: var(--color-text);
}
.text-lg{
    font-size: 18px;
}
.text-sm{
    font-size: 14px;
}

.text-vsm{
    font-size: 12px;
}
